/*
Вы кто такие?
Я вас не звал!
Идите на...
*/

body {font-family: "Segoe UI";}
h1 {
  font-size: 32px;
  text-align: center;
}
p {
  font-size: 10px;
  text-align: justify;
}
.picture{text-align: center;}
p.greeting{
  font-size: 24px;
  font-family: "Segoe UI Black";
}
em {}
