/*
Вы кто такие?
Я вас не звал!
Идите на...
*/

body {font-family: "Segoe UI";}
h1 {
  font-size: 32px;
  text-align: center;
}
p {
  font-size: 10px;
  text-align: justify;
}
ul {
  font-size: 10px;
  text-align: justify;
}
li {
  font-size: 10px;
  text-align: justify;
}
header{text-align: center !important;}
main{}
footer{
  font-size: 24px;
  font-family: "Segoe UI Black";
  text-align: right;
}

